footer {
    background-color: #262626;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;

    ul {
        width: 80%;
        display: flex;
        margin: 0 auto;
        padding: 0;
        color: #9c9c9c;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        @media screen and (max-width: 960px) {
            width: 90%;
        }

        @media screen and (max-width: 720px) {
            justify-content: center;
        }

        li {
            align-items: center;
            align-content: center;

            span {
                color:#ff2b58;
                font-weight: 700;
            }

            @media screen and (max-width: 720px) {
                &:first-of-type {
                    display: none;
                }

                &:last-of-type {
                    display: none;
                }
            }
        }
    }
}
