.subscribe-wrap {
    background-color: #ffffff;
    width: 100%;
    height: 500px;     
    display: flex;
    color: $dark-text;
    background-image: url(../images/subscribe/bg-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;

    .container {
        @extend %container-settings;
    }
}

.subscribe-inner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    .content {
        width: 66%;

        @media screen and (max-width: 960px) {
            width: 100%;
        }

        h2 {
            font-size: 40px;
            font-weight: 700;
            margin: 0;
        }

        p {
            font-size: 17px;
            width: 75%;

            @media screen and (max-width: 960px) {
                width: 85%;
            }
        }

        form {
            display: flex;
            width: 100%;

            @media screen and (max-width: 960px) {
                flex-direction: column;
            }

            input {
                width: calc(100% - 200px);
                height: 55px;
                box-sizing: border-box;
                border: 1px solid #262626;
                border-radius: 4px;
                padding: 0px 15px;
                margin-right: 30px;
                min-width: 200px;
                opacity: 0.8;
            }

                @media screen and (max-width: 960px) {
                    width: 100%;
                    max-width: 600px;
                }
                
                input::placeholder {
                    opacity: 0.5;
                    color: #808080;
                    font-weight: 300;
                }

            button {
                @include button (#96b92c);
                border: none;
                font-family: inherit;
                font-size: 20px;
                text-transform: uppercase;
                color: $light-text;

                @media screen and (max-width: 960px) {
                    margin-top: 17px;
                }

                &:active {
                    background-color: lightness($color: #d4cece)
                }
            }
        }
    }
}